* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(251, 251, 250);
  margin: 0;
  padding: 0;
}

/* homepage */

.image-container {
  height: 570px; /* Adjust the desired height for the image container */
  width: 11800px; /* Adjust the desired width for the image container */
  position: relative;
}

.homepage-image {
  max-width: 2005px;
  max-height: 960px;
}



/* recipelist */

.recipe-list {
  padding: 20px;
}

.recipe-list-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.recipe-item {
  margin-bottom: 20px;
  border: 1px solid #fff;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-title {
  font-weight: bold;
  font-size: 24px;
  color: gold;
  margin-bottom: 10px;
}

.recipe-instructions {
  color: #000;
  line-height: 1.5;
}

.star {
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
}

.star.empty {
  color: #ccc;
}

.star.filled {
  color: gold;
}

 
/* search */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 999px;
  width: 300px;
  font-size: 16px;
}

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #333;
}

/* navbar */

.navbar-item {
  margin-right: 10px;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 100px; /* Adjust the distance from the left edge as needed */
  top: 20px; /* Adjust the distance from the top edge as needed */
}

.logo img {
  width: 150px; /* Adjust the width as per your preference */
  height: auto; /* Maintain aspect ratio */
}





/* homepage */

.homepage-container {
  padding: 20px;
  background-color: #f2f2f2;
}

.homepage-title {
  font-size: 24px;
  color: #333;
}

.homepage-description {
  font-size: 16px;
  color: #666;
}

/* Navbar */
.navbar {
  background-color: #f4f2c0; 
  padding: 40px;
  display: flex;
  justify-content: flex-end;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  color: #000000;
  position: relative;
}

.navbar-item a::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adjust the value to your desired distance below the text */
  left: 0;
  width: 100%;
  height: 2px;
  transition: background-color 0.3s;
}

.navbar-item a:hover::after,
.navbar-item a.active::after {
  height: 3px;
  background-color:#000 ; /* Set the bottom line color */
  transition: background-color 0.3s;
}

.navbar-item a:hover,
.navbar-item a.active {
  color: rgb(224, 191, 5); /* Set the text color to gold on hover and for the active link */
}

/* reviews */
.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #b8b68a;
  color: #fcfbfb;
}
.review-form-container {
  width: 100%;
}
.review-form-container h3 {
  margin-top: 0;
}
.review-form-container label {
  display: block;
  margin-bottom: 10px;
}
.review-form-container input,
.review-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
}
.review-form-container button[type="submit"] {
  display: block;
  padding: 10px 20px;
  background-color: gold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.review-form-container button[type="submit"]:hover {
  background-color: gold;
  font-size: 1.1em;
}

/* Dietarie */

.dietaries-heading {
  color: white;
  background: black;
  padding: 10px;
}

.dietary-form {
  background: black;
  padding: 10px;
}

.dietary-input {
  padding: 5px;
  margin-right: 5px;
}

.add-dietary-button {
  padding: 5px;
  background: gold;
  color: black;
  border: none;
}

.dietary-item {
  color: white;
  background: black;
  padding: 10px;
}




