* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(208, 157, 148);
  margin: 0;
  padding: 0;
}

.recipe-list {
  padding: 20px;
}

.recipe-list-title {
  color: rgb(29, 78, 88);
  font-size: 24px;
  margin-bottom: 20px;
}

.recipe-item {
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-title {
  font-weight: bold;
  font-size: 24px;
  color: rgb(158, 190, 218);
  margin-bottom: 10px;
}

.recipe-instructions {
  color: rgb(227, 155, 186);
  line-height: 1.5;
}

.star {
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
}

.star.empty {
  color: #ccc;
}

.star.filled {
  color: rgb(238, 238, 29);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 999px;
  width: 300px;
  font-size: 16px;
}

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #333;
}
.navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
}

.homepage-container {
  padding: 20px;
  background-color: #f2f2f2;
}

.homepage-title {
  font-size: 24px;
  color: #333;
}

.homepage-description {
  font-size: 16px;
  color: #666;
}
